
.navbar {
  display: flex;
  justify-content: center;
  gap: 40px;
  background-color: #151a24;
  padding: 1rem;
  margin-bottom: 2rem;
  border-top: 1px solid #00ffff33;
  border-bottom: 1px solid #00ffff33;
}

.nav-link {
  color: #00ffff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ffffff;
}
